[2019-05-01 08:09] k1-hedayati opened #1 "Add configurations to apps"
Applications configurations should be copied from Radar-Docker repo to this one as either config maps or secrets.

[2019-05-01 08:15] ghost opened #2 "Backup and migration plan for Kubernetes deployments"
As the Kubernetes approach is a bit different than Docker we need either current scripts be modified to work with Kubernetes or implement a new method for backup and/or migration of persistent apps like Kafka, Postgresql and HDFS.

[2019-05-01 08:29] k1-hedayati opened #3 "Add SMTP deployment"
SMTP server deployment should be added to Radar-Kubernetes

[2019-05-01 08:30] ghost opened #4 "Add Travis CI or another CI tool to this repository"
We should at least validate helm charts and preferably deploy them in Kubernetes as well. As this repository is similar to [helm/charts](https://github.com/helm/charts) it might be possible to just copy paste whatever is in there.

[2019-05-01 08:41] k1-hedayati opened #5 "Add Prometheus or Prometheus Operator for monitoring"
We should use Prometheus for monitoring the Kubernetes deployment.

[2019-05-01 08:57] k1-hedayati opened #6 "Separate helmfile into different components"
As the bootstrap process needs a specific set of applications to be working and there are some optional components in place, current helmfile should be segmented into different pieces based on the current context.

[2019-05-01 09:01] k1-hedayati opened #7 "Jobs for hdfs-restructure"
We should turn `hdfs-restructure` script in a Kubernetes Cronjob object

[2019-05-01 09:14] k1-hedayati opened #8 "Find a proper method to create keys via keystore"
In Radar-Docker the `keystore-init` was in charge of creating keys for Management Portal. A similar method should be implemented in Kubernetes deployment as well.

[2019-05-01 09:17] k1-hedayati opened #9 "Use cert-manager for creating SSL certificates"
We should create manifests for `cert-manager` to generate SSL certificates.

[2019-05-01 09:45] k1-hedayati opened #10 "Added ingress-nginx deployment"

[2019-05-01 09:53] ghost opened #11 "Reduce health check periods"
Interval period for most of the current health checks are more than a minute and this duration is too high and should be reduced to as low as possible.

[2019-05-01 10:21] blootsvoets commented on #6
Related contexts or dependency sets:

- Base platform
  - zookeeper
  - kafka
  - schema-registry
  - kafka-init
  - ManagementPortal
  - postgres
  - catalog-server
- Ingestion:
  - rest-proxy
  - gateway
- HDFS:
  - HDFS namenode
  - HDFS data nodes
  - radar-hdfs-connector
  - hdfs-restructure cron
- Dashboard
  - MongoDB
  - radar-mongodb-connector
  - rest-api
  - dashboard
- Fitbit connector

[2019-05-03 10:21] #1 closed

[2019-05-03 16:15] #8 closed

[2019-05-06 08:45] #3 closed

[2019-05-07 16:07] #10 closed

[2019-05-10 15:43] #9 closed

[2019-06-20 13:44] k1-hedayati commented on #7
Fixed by 3b1af532d2c062d58fa490e0922d4bac19918a95

[2019-06-20 13:44] #7 closed

[2019-06-24 13:35] ghost opened #12 "Make monitoring optional"
Right now if `Promethues-operator` isn't installed in the cluster, the deployment will fail. There should be an option to prevent that.

[2019-06-24 13:38] k1-hedayati opened #13 "Add cp-helm-charts as a submodule"
Right now the user has to clone the forked `cp-helm-charts` repo manually and this should be prevented by using `submodule` or `subtree` or another feature of the Git.

[2019-06-24 18:27] #6 closed

[2019-06-25 09:07] k1-hedayati opened #14 "Use key-value syntax for providing configurations instead of YAML syntax"
Right now configurations are defined in YAML format which is prone to mistakes and indentation issues:
[code]
This should be changed to this:
[code]

[2019-06-25 10:40] #14 closed

[2019-06-28 15:10] k1-hedayati commented on #13
I did some research and it seems like `subtree` will kinda merge two repositories together which isn't desired and `submodule` will introduce complexity that isn't good either. I think the current manual approach is good enough.

[2019-06-28 15:10] #13 closed

[2019-07-01 15:24] ghost opened #15 "Create chart repository"
Right now the user has to clone this repository to install the stack but we should have a public chart repository to prevent these steps. We might also need a domain and space to host this repository.

https://helm.sh/docs/developing_charts/#the-chart-repository-guide

[2019-07-02 13:06] ghost opened #16 "Make sure Radar Fitbit is functional"
It seems like Fitbit components of Radar-Kubernetes aren't working properly now, this should be investigated and fixed.

[2019-07-02 13:07] ghost opened #17 "Make sure Radar Redcap is functional"
It seems like Redcap components of Radar-Kubernetes aren't working properly now, this should be investigated and fixed.

[2019-07-02 13:51] blootsvoets commented on #17
At The Hyve we don't have a functional Redcap installation. We marked the container as optional for that purpose. Is it possible to do the same in Kubernetes? Then it can be tested by someone who has Redcap installed.

[2019-07-02 13:52] k1-hedayati commented on #17
Yes it's already turned off here
https://github.com/RADAR-base/RADAR-Kubernetes/blob/master/env.template#L94

[2019-07-02 14:31] k1-hedayati commented on #15
It seems like even after creating a chart repository users still need files in `bin/`, `helmfile.d/` and `env.template` for installation so cloning might be inevitable.

[2019-07-03 11:51] k1-hedayati opened #18 "Create Prometheus alerts for applicaions health"
Our current Prometheus installation has alerts for default Kubernetes cluster health like CPU and Memory usage and Pods status but we don't have alerts for the internals of applications like:
* [ ] Nginx response time
* [ ] Zookeeper quorum Size
* [ ] Kafka active brokers

We should create those alerts to get notified in case of any issue as soon as possible.

(Please add any other metrics and ale

[2019-07-03 14:17] yatharthranjan commented on #18
Some things that could be useful -

- [ ] Kafka Connector Healths.
- [ ] HDFS health (Number of live data nodes) and Capacity remaining.
- [ ] Disk usage for block devices.
- [ ] HDFS restructure time taken and run failure.
- [ ] Kafka brokers throughput and under replication.

[2019-07-05 12:43] k1-hedayati opened #19 "Create health checks for Zookeeper and Kafka"
I copied the Docker health checks to Kubernetes but I saw some issues and removed them afterward. We should try to incorporate them again.

[2019-07-08 15:02] k1-hedayati opened #20 "Make persistence volume sizes configurable via environment variables"
Right now if someone wants to change the volume sizes s/he has to change it edit `values.yaml` files but as this a common change we should provide an ability to change this from `.env` file.

[2019-07-08 15:06] ghost opened #21 "Let users specify custom values without changing the repository"
Right now if someone wants to change configurations beyond the ones that are specified in `.env` the file they have to change the repository files and this might create merge issues when they want to pull new changes from the repository. We should provide the functionality to customize configurations without changing the Git tracked files.

[2019-07-09 09:37] k1-hedayati commented on #19
I've added health checks again in RADAR-base/cp-helm-charts@872ee60c324c0db4f3912755d9d26a75ffe66e33 and I've reinstalled apps a couple of times and it seems to be working.

[2019-07-09 09:37] #19 closed

[2019-07-12 10:15] #20 closed

[2019-07-12 10:41] ghost opened #22 "Don't hard code topics into connectors"
Right now topics are hardcoded into [HDFS connector](https://github.com/RADAR-base/RADAR-Kubernetes/blob/master/charts/radar-connect-hdfs-sink/values.yaml#L57) and [MongoDB connector](https://github.com/RADAR-base/RADAR-Kubernetes/blob/master/charts/radar-mongodb-connector/values.yaml#L55). There should be a method to get the topics from `catalog-server` or somewhere else.

[2019-09-10 15:24] K1Hyve opened #24 "Make sure it's always possible to schedule the pods"
It seems like storage is bonded to one availability zone and when the node is in another zone the pod will remain in `pending` state. This shouldn't happen.

[2019-11-21 10:09] blootsvoets opened #25 "Use radar-output service"
The radar-output image 0.6.0 has been rewritten as a scalable service. A change like
RADAR-base/RADAR-Docker#205 should be implemented in this repository as well. Perhaps for purposes of Kubernetes, the properties could be tweaked to have one thread per pod and to have multiple pods. It may be wise to set maximum number of files per processing step, to ensure that the process does not hang on a si

[2019-12-04 15:57] K1Hyve opened #26 "Create a different user for database users"
Right now applications use `postgres` user in order to have access to database, this user has admin permission and it's not advised to use it in application, a normal user with limited permissions should be created for each application.

[2019-12-06 15:10] K1Hyve commented on #25
I copied the configuration from RADAR-Docker and will push them after it's finalized.

[2020-01-13 10:19] blootsvoets opened #27 "Use shared storage for output"
Suggest to use Ceph as a block- and file storage backend in a separate K8s namespace. That can be used to transfer data between (multiple) `radar-output` pods and the `sftp` pods.

[2020-06-17 07:32] nivemaham opened #31 "Upload connectors poll interval value is converted to scientific numbers when I run template"
When I run helmfile --log-level debug -f helmfile.d/20-upload.yaml template`, the poll interval for upload connector is replaced with scientific number in the confic map.
What I get is
[code]
What is expected is
[code]

[2020-06-18 13:56] #31 closed

[2020-06-18 14:00] nivemaham opened #33 "Update ManagementPortal's livenessProbe check to /health"
Current, charts are still using `oauth/token_key` as the health check url.
This does not reflect the actual state of the service and DB connection.
If there is a restart of postgres, a restart of MP is also necessary. Having proper `livenessProbe` could automate this process.
From MP:0.5.7 the `/health` resource was adjusted to give an update on DB connection status.
Please refer to the syntax of

[2020-06-23 08:24] nivemaham opened #34 "Update radar-upload-backend component's healthchecks"

[2020-07-03 14:41] K1Hyve commented on #27
Now we're using an object storage for shared output

[2020-07-03 14:41] #27 closed

[2020-07-03 14:41] K1Hyve commented on #17
This has been fixed in later releases

[2020-07-03 14:41] #17 closed

[2020-07-03 14:41] K1Hyve commented on #16
This has been fixed in later releases

[2020-07-03 14:41] #16 closed

[2020-07-03 14:46] K1Hyve commented on #25
This has been fixed in later releases

[2020-07-03 14:46] #25 closed

[2020-07-03 14:48] K1Hyve commented on #21
This has been fixed with introducing `base.yaml` and `production.yaml` files

[2020-07-03 14:48] #21 closed

[2020-07-03 14:50] K1Hyve commented on #2
We have backup functionality now but still no plans for migration

[2020-08-27 13:08] K1Hyve opened #46 "Remove unused charts"
As far as I know we don't plan to use HDFS and Dashboard components anymore, so can we remove these charts from the repository?

- [x] radar-dashboard
- [x] radar-hotstorage
- [x] radar-mongodb-connector
- [x] radar-restapi
- [x] hdfs
- [x] radar-connect-hdfs-sink
- [x] sftp
- [x] ceph
- [ ] radar-backend-monitor
- [ ] radar-backend-stream

[2020-08-28 05:25] blootsvoets commented on #46
LGTM, except the radar-backend images. Please keep those.

[2020-09-09 19:31] K1Hyve commented on #46
Do we also need the kafka-manager?

[2020-09-10 07:28] blootsvoets commented on #46
I think kafka-manager is still used frequently by KCL. If Kafka metrics in are in Prometheus already, it's probably not necessary though.

[2020-12-02 13:33] blootsvoets opened #64 "Plain text 404 page on root URL"
Preferably, the root page shows links and possibly icons to the frontend services that are supported by this instance and getting started links to the documentation.

[2020-12-02 13:37] blootsvoets opened #65 "More friendly-formatted ingress error pages"
Other 404 or 50x pages generated by the ingress controller should preferably be HTML pages that redirect to the root URL.

[2020-12-05 13:58] K1Hyve commented on #65
Can you give a few example URLs?

[2020-12-07 13:44] blootsvoets commented on #65
In Ingress:
https://github.com/kubernetes/ingress-nginx/tree/master/images/custom-error-pages/rootfs/www

Example pages elsewhere:
https://github.com/notfound/notfound
https://thehyve.nl/notfound/notfound
https://www.docker.com/notfound/notfound

[2021-02-23 16:19] #46 closed

[2021-02-23 18:00] K1Hyve opened #70 "Schedule automatic restarts for velero-object-storage-backup"
The velero-object-storage-backup deployment uses `mc` command to stream data into backup location, apparently the session that `mc` uses to connect to object storage gets expired after a month. There should be a way to schedule an automatic restart of the deployment so that token will be regenerated.
It's possible to use cronjob in Kubernetes to schedule that, or just a quick hack would be using a

[2021-03-03 15:45] blootsvoets opened #71 "Create radar-home chart"
Create helm chart for https://github.com/RADAR-base/radar-home and add it to helmfile.d/00-init.yaml.

[2021-03-03 22:27] K1Hyve commented on #71
Having an home page with all of the links is good but I'm enjoying the security through obscurity thing that we have right now with 404 page

[2021-04-13 12:17] K1Hyve opened #78 "Make installation simpler"
Installing Radar-Kubernetes is becoming more and more complicated with different configuration, we need to figure out a away to make it simpler.

[2021-04-13 12:18] K1Hyve commented on #78
Bash script is the first thing that comes to mind but it is not supported on Windows environment out of box.

[2021-04-13 12:22] K1Hyve opened #79 "Specify minimum system requirement"
It would be good to specify the minimum amount of resources needed to deploy a Radar-base cluster and maybe a guide on how to scale these resources based on number of participants.

[2021-04-13 12:25] K1Hyve commented on #34
Fixed by ba860d8bdc785a13ccaa9e32d749a75facd749ec

[2021-04-13 12:25] #34 closed

[2021-04-13 12:27] K1Hyve commented on #33
Fixed via d2724863ae333e3a77b2d138d8cb847564265658

[2021-04-13 12:27] #33 closed

[2021-04-13 12:29] K1Hyve commented on #22
This is being addressed by #77

[2021-04-13 12:33] blootsvoets commented on #79
Note that for a basic deployment I did recently, I needed at least 32 GB memory and 8 CPU's.

[2021-04-14 07:11] blootsvoets opened #81 "Merge closely linked charts"
Charts like radar-upload-backend, -frontend and -connector are so closely linked, they could be represented by a single chart with separate templates for each of the components. See for example https://github.com/prometheus-community/helm-charts/tree/main/charts/kube-prometheus-stack with separate template directories per component at https://github.com/prometheus-community/helm-charts/tree/main/c

[2021-04-19 10:18] K1Hyve opened #82 "Improve configuration management"
With lot of configuration options available for the stack and constant changes and updates to them managing the changes becomes more difficult and configuration is more likely to get out of sync with the charts or have wrong configuration or format. There should be away to prevent bad configuration applied to the cluster.
Current suggestions are:
- Using a linter: This would check the configuratio

[2021-04-20 10:30] K1Hyve commented on #82
Another option is defining the configuration as an CRD which has an schema built in to it and Kubernetes will validate and prevent bad configuration from being applied. It will also be a first step into making Radar-Operator.
https://kubernetes.io/docs/tasks/extend-kubernetes/custom-resources/custom-resource-definitions/

[2021-04-20 10:39] K1Hyve commented on #82
The easiest and fastest improvement that can be done is defining `values.schema.json` for charts. Helm will validate given values against defined schema.
https://helm.sh/docs/topics/charts/#schema-files
https://austindewey.com/2020/06/13/helm-tricks-input-validation-with-values-schema-json/

In order to have a quick start it is possible to use the plugin to create the base schema and then build on

[2021-05-04 20:42] K1Hyve opened #86 "Circumvent Dockerhub rate limits"
Dockerhub has introduced rate limits to image pull since [last year](https://docs.docker.com/docker-hub/download-rate-limit/) and this is sometimes causing our pods to enter `ImagePullBackOff` state when they are being restarted. Right now we add authentication but this won't scale and we need to find a better way to avoid such limitation.
Here is some possible ways to handle this:
https://medium.

[2021-05-08 19:10] blootsvoets commented on #86
Good point. Alternatively, can we set up a chart that deploys a docker hub image pull secret and use that secret throughout the other charts via base.yml or via the value set logic?

[2021-05-08 21:21] K1Hyve commented on #86
That is possible however someone would need to create an account on Docker hub and provide us the secrets, designating that person and managing their account could become challenging, also In case of failures and node migrations that a lot of pulls happen it is possible to reach the rate limit for free accounts.

[2021-06-14 08:54] blootsvoets opened #90 "Create GitHub actions for testing chart deployment"
For example, by first installing k3s (https://github.com/marketplace/actions/actions-k3s) and then deploying some essential services one-by-one.

[2021-06-14 08:55] blootsvoets commented on #4
Superseded by #90.

[2021-06-14 08:55] #4 closed

[2021-06-14 08:57] blootsvoets commented on #11
@K1Hyve can you make this issue more concrete? Which charts?

[2021-06-14 09:01] blootsvoets commented on #71
I'm not enjoying the security by obscurity that much - I think it does the project more harm than good.

[2021-06-15 14:52] blootsvoets commented on #90
See https://github.com/RADAR-base/RADAR-Docker/pull/256 for an example using CI/CD

[2021-07-05 11:35] blootsvoets opened #92 "Add general description of RADAR-Kubernetes charts to the RADAR-base wiki"
To get a general overview of the repository, the charts components should be described in a single overview. This overview can be added to the RADAR-base wiki in a new top-level menu item for "Installing RADAR-base".

[2021-07-05 11:37] blootsvoets opened #93 "Create template for chart README's"
Make a first draft of a chart README that includes relevant chart configuration parameters.

[2021-07-05 11:38] blootsvoets opened #94 "Create app-config README's"
Depends on #93.

- [x] app config frontend
- [x] app config backend

[2021-07-05 11:39] blootsvoets opened #95 "Create Fitbit connector and rest-source authorizer README's"
Depends on #93 and #105.

- [x] rest source authorizer backend
- [x] rest source authorizer frontend
- [x] fitbit connector

[2021-07-05 11:39] blootsvoets opened #96 "Create upload connector readme's"
Depends on #93.

- [x] upload frontend
- [x] upload backend
- [x] upload connector

[2021-07-05 11:40] blootsvoets opened #97 "Create S3 output README's"
Depends on #93.
- [x] radar-s3-connector
- [x] s3-proxy
- [x] minio
- [x] radar-output

[2021-07-05 11:40] blootsvoets opened #98 "Create grafana dashboard README's"
Depends on #93.

- [x] radar-jdbc-connector
- [x] radar-grafana

[2021-07-05 11:42] blootsvoets opened #99 "Create ManagementPortal README's"
Depends on #93. Include

- [x] managementportal
- [x] smtp (resolved by #129)
- [x] catalog-server
Resolved by #105

[2021-07-05 11:46] blootsvoets opened #100 "Create radar-push-endpoint chart"
Includes support for Garmin. Code is at https://github.com/RADAR-base/RADAR-PushEndpoint. Main developers are @yatharthranjan @mpgxvii.

[2021-07-05 11:47] blootsvoets opened #101 "Create radar-appserver chart"
Adds support for the RADAR AppServer to RADAR-Kubernetes. Mainly developed by @yatharthranjan and @mpgxvii.

[2021-07-12 10:30] K1Hyve opened #102 "Migrate to new Minio helm chart"
Apparently the chart that we are using [is now deprecated](https://github.com/minio/charts) and they have replaced it with a new [operator based chart](https://github.com/minio/operator/tree/master/helm/minio-operator).

[2021-07-12 10:32] K1Hyve commented on #93
Please also put a link to the application repository in READMEs.

[2021-07-13 11:22] K1Hyve commented on #81
Can we include Radar-backend-monitor and -stream too?

[2021-07-26 11:28] blootsvoets commented on #102
Complication: I'd like to replace S3-proxy with Minio S3 gateway - this adds a dashboard to the gateway and allows users to see data stored in S3 via a web interface. Complication: gateway is only supported in the Minio chart, not in the operator.

[2021-07-26 13:53] K1Hyve commented on #102
I think we have to wait until minio/minio#12509 gets merged into main branch and then migrate to that chart or use that just for the gateway feature.

[2021-07-27 12:48] blootsvoets commented on #102
After testing the Minio gateway, it's less useful than I thought: it doesn't support the very helpful "download a directory as zip" feature.

[2021-07-27 13:23] blootsvoets opened #104 "Add SOPS instructions"
Add instructions to use SOPS to README.

[2021-07-27 13:39] blootsvoets commented on #92
Done in
https://radar-base.atlassian.net/wiki/spaces/RAD/pages/2673967112/Component+overview+and+breakdown @nivemaham could you review?

[2021-07-28 07:24] K1Hyve commented on #102
How about replacing S3-proxy functionality, does that worth considering?

[2021-07-28 07:37] blootsvoets commented on #102
Yes that would be the goal.

[2021-07-30 09:34] nivemaham commented on #93
Follow https://github.com/RADAR-base/RADAR-Kubernetes/pull/105 for details

[2021-08-02 10:30] K1Hyve opened #107 "Add diagnostic mode"
Bitnami have recently added a diagnostic mode to their charts that help debugging and troubleshooting charts when they're failing with PR bitnami/charts#7012. It would be good if we added same feature to our charts as well.

[2021-08-03 10:39] nivemaham commented on #92
LGTM

[2021-08-03 13:08] K1Hyve commented on #94
Progress started in 2a462158d1173bbc7a4b5886473d0239100e19f7, follow up on #105

[2021-08-03 13:09] #92 closed

[2021-08-03 13:11] K1Hyve commented on #64
Will be continued on #71

[2021-08-03 13:11] #64 closed

[2021-08-03 13:12] K1Hyve commented on #90
This Github Action seems to be useful for chart testing: https://github.com/mamezou-tech/setup-helmfile

Maybe also this issue: roboll/helmfile#1708

[2021-08-03 15:26] yatharthranjan opened #109 "Investigate support for distributed kafka connect"
The Kafka connectors (eg Fitbit) are currently deployed in standalone mode, to take full advantage of the scalability of Kubernetes these can be deployed in distributed mode (in which the connectors themselves are stateless and store state in kafka). At KCL we have some use cases where running in distributed mode is necessary.

[2021-08-04 11:01] nivemaham commented on #96
@aykl Would this something you could pick-up. The idea is that we document value.yamls and use `helm-doc` to generate README. Please have a look at the https://github.com/RADAR-base/RADAR-Kubernetes/pull/105 to get an idea.

[2021-08-05 20:25] nivemaham commented on #98
@mpgxvii Is this something you can contribute to? Please see #105 for ongoing work on documentation.
We are using `helm-docs` to generate README from value.yaml.
If you could document the dashboard pipeline, it would be helpful.
Please let me know, if I can help with something to get on board.

[2021-08-06 12:12] nivemaham opened #110 "Document third party charts under etc/ in RB-Kube"
Document thrid party charts used under etc folder in RB-Kube
We should at least provide a documentation of where specific chart exist, how it has been customized and/or how it can be customized for use in RB-Kub

- [ ] cp-kafka
- [ ] cp-kafka-rest
- [ ] cp-schema-registry
- [ ] cp-zookeeper
- [ ] elasticsearch
- [ ] fluent-bit
- [ ] graylog
- [x] minio
- [ ] mongodb
- [ ] nginx-ingress
- [ ] postg

[2021-08-06 14:56] nivemaham opened #112 "Add readme to radar-gateway"

[2021-08-06 14:57] nivemaham opened #113 "Add readme to radar-intergration service"
Document Redcap-Integrator

[2021-08-06 14:58] nivemaham opened #114 "Add readme to cc-schema-registry-proxy service"

[2021-08-06 15:04] nivemaham commented on #99
@blootsvoets Could you please complete the smtp documentation?

[2021-08-06 15:05] nivemaham commented on #94
@blootsvoets Could you please review the documentation on #105 ?

[2021-08-09 10:42] nivemaham commented on #113
@mpgxvii @yatharthranjan Is this something you could take up? See #105 and #115 for the documentation process and example PR.

[2021-08-09 10:50] nivemaham commented on #97
@K1Hyve Can you take a look at the #115 to complete the k8s specific documentation **and** also document the `minio`?

[2021-08-09 11:04] nivemaham commented on #114
@K1Hyve Can you complete #116 with k8s specific documentation?

[2021-08-09 11:47] K1Hyve opened #117 "Improve charts base templates"
Some of our charts templates have been created long time ago and don't have modern chart features, following should be present in all of our charts:
* [x] Make sure `chart.appVersion` and `image.tag` are in sync
* [x] All charts should use `imagePullSecrets` variable
* [x] Ingress configuration for charts without any external interface should be removed
* [x] Add `url` to `maintainers` in `Chart.y

[2021-08-09 11:49] K1Hyve commented on #117
We can use [Bitnami template chart](https://github.com/bitnami/charts/tree/master/template/CHART_NAME) as reference point for default template

[2021-08-10 09:14] nivemaham opened #120 "Create velero README"
Velero chart values should be documented, with details on how it has been used with RB.

[2021-08-10 14:50] K1Hyve commented on #120
Done in #122

[2021-08-11 10:07] keyvaann opened #125 "Update kafka-manager chart"
Kafka-manager have been renamed to CMAK (Cluster Manager for Apache Kafka) and there is an operator for it now.
We should probably start using them instead of current tool.
https://github.com/yahoo/CMAK/
https://github.com/eshepelyuk/cmak-operator

[2021-08-11 11:08] #120 closed

[2021-08-11 19:03] K1Hyve commented on #110
I believe that documenting these values isn't needed. Our changes are minimal and the documentation for it does exists in the original chart so it will be an unnecessary effort.

[2021-08-12 10:46] K1Hyve commented on #102
New versions of Minio use a better interface which is much better than current one.
https://github.com/minio/console
It does also have a much better memory management and should cause less memory hogs

[2021-08-16 13:47] nivemaham opened #127 "Improve readme with repository structure and description of the tools/prerequisites."

[2021-08-23 08:34] blootsvoets opened #128 "Use startupProbe to finetune probe timings"
By using startupProbe, the readinessProbe and livenessProbe only start once an image is properly started: https://loft.sh/blog/kubernetes-startup-probes-examples-common-pitfalls/. This allows for finer grained probes timings.

[2021-08-23 08:46] blootsvoets commented on #109
This needs to be mulled over a bit. Pro's and cons as I see them:

`-` when in distributed mode, connectors must be provisioned twice: one time starting up the connector engine, one time by sending the JSON message to start up the connector.
`-` with the current docker images, we can't just use a generic "kafka connector" chart, because it won't include all the connector plugins we use (s3, upload

[2021-08-23 09:06] K1Hyve commented on #128
Good idea, apparently they've in Kubernetes since at least 1.18 so it should be easy to add it to our current deployments as well

[2021-08-23 09:22] #112 closed

[2021-08-23 09:39] blootsvoets commented on #102
Hmm... minio/minio#12509 is merged but the chart does not include the S3 gateway. The console is also does not have an official chart; it could be installed via the community chart https://artifacthub.io/packages/helm/k8s-at-home/minio-console/2.0.0.

[2021-08-23 09:41] K1Hyve commented on #109
If we alter the Dockerfile to use distributed mode can we still have them running with only a single instance?

[2021-08-23 09:42] blootsvoets commented on #93
Done in #105.

[2021-08-23 09:42] #93 closed

[2021-08-23 09:45] K1Hyve commented on #99
Do we need to add info about keystore file to MP documentation?

[2021-08-23 10:11] blootsvoets commented on #109
If it automatically starts up the actual component during startup, from K8S of view, it would be the same. The only difference is that it will then store offsets in Kafka instead of in a persistent volume.

[2021-08-25 08:35] blootsvoets commented on #99
Done, including keystone file.

[2021-08-25 08:35] #99 closed

[2021-08-25 08:36] blootsvoets commented on #104
Removed: SOPS is not needed in this repo, we don't need to explicitly document it.

[2021-08-25 08:36] #104 closed

[2021-08-25 10:57] #117 closed

[2021-08-25 10:58] #114 closed

[2021-08-25 10:59] #97 closed

[2021-08-25 10:59] #96 closed

[2021-08-25 10:59] #95 closed

[2021-08-25 11:00] #94 closed

[2021-08-25 11:00] #98 closed

[2021-11-16 18:13] afolarin opened #149 "Test Run with README instructions."
### Discussed in https://github.com/RADAR-base/RADAR-Kubernetes/discussions/135

<div type='discussions-op-text'>

<sup>Originally posted by **afolarin** October 26, 2021</sup>
@K1Hyve  Looks like the values in `base.secrets.yaml` are needed, but not presently referenced -- is this the proper place for this at the end of `enviromnent.yaml`

making the assumption of the above adding the `base.secre

[2022-01-07 13:18] Hsankesara opened #174 "No matches for kind "Ingress" in Kubernetes version > 1.18"
**Describe the bug**
Got `unable to recognize "": no matches for kind "Ingress" in version "extensions/v1beta1"` error while installing RADAR-Kubernetes. After further inspection found out that ingress is not available in  `networking.k8s.io/v1beta1`  for Kubernetes version > 1.18. Further discussion about this bug can be found in [Kubernetes issue #90077](https://github.com/kubernetes/kubernetes/

[2022-01-12 10:12] K1Hyve commented on #174
@Hsankesara for which application are you getting this message?

[2022-01-17 07:34] Hsankesara commented on #174
I think it is` nginx-ingress`.

[2022-01-17 10:23] K1Hyve commented on #174
Please share the full log with me.

[2022-01-17 15:56] Hsankesara commented on #174
Hi @K1Hyve,
I have added the debug file. The error can be found on the line 8952.

[debug_logs.txt](https://github.com/RADAR-base/RADAR-Kubernetes/files/7883179/debug_logs.txt)

[2022-01-17 16:29] #100 closed

[2022-01-17 16:29] #101 closed

[2022-01-25 16:17] nivemaham commented on #174
@K1Hyve Are you looking into this?

[2022-01-25 16:17] #127 closed

[2022-02-21 16:45] yatharthranjan opened #180 "Add the realtime inference components"
**Is your feature request related to a problem? Please describe.**
These components include KSQLDB (both server and cli), [model-builder](https://github.com/RADAR-base/model-builder/tree/main/model-builder) (can run on a CRON schedule), [model-invocation](https://github.com/RADAR-base/model-builder/tree/main/model-invocation-endpoint), RADAR-Backend Intervention monitor or RealtimeInference Consum

[2022-02-22 08:14] blootsvoets commented on #180
Slight modifications to this issue:
- the grafana dashboard and JDBC connectors are already present.
- I'm not sure whether the ksqlDB cli needs to be included, since the same can be achieved by running `exec` in the server container.

[2022-04-07 16:37] K1Hyve opened #184 "Default installation"
I have noticed that radar push endpoint and radar appserver are set to be installed on default `base.yaml` and I'm wondering if installing them is necessary for a basic RADAR-Base deployment.

[2022-04-07 17:07] yatharthranjan commented on #184
Push endpoint not so much, but the appserver can be deemed as necessary (depending on if users are using the app built by themselves). Since the appserver for central firebase and app only has a configuration for OAuth with the central Management portal (and a few minor deployments), this could be necessary to enable notifications for the app. But I will let @blootsvoets and @mpgxvii decide.

[2022-04-08 10:04] mpgxvii commented on #184
Yes the appserver is needed if they will be building their own app. However, I'm not sure how likely the community will be building their own app as opposed to using the public one or not at all?

[2022-04-08 10:23] yatharthranjan commented on #184
For the public one, I am not sure will be able to support the workloads from the community on our appserver.

[2022-04-21 15:45] mpgxvii commented on #184
I think since the use of the active app is optional, the app server can be optional as well.

[2022-04-21 20:43] K1Hyve commented on #15
This is solved now.

[2022-04-21 20:43] #15 closed

[2022-04-21 20:44] K1Hyve commented on #2
There is no need for migration plan, and backup is rarely used.

[2022-04-21 20:44] #2 closed

[2022-04-27 09:30] iDmple opened #190 "Error: failed to download "radar/app-config-frontend" at version "0.2.2""
I'm reinstalling RADAR-Kubernetes from scratch and hit this error:

``` Error: failed to download "radar/app-config-frontend" at version "0.2.2"```

- Can you please update the git to an existing version of `app-config-frontend`?
- I also haven't installed RADAR-Kubernetes in a while, can you please advise what is the newest version of k3s that can be used at the moment?

Thanks.

**Version of Hel

[2022-04-29 12:51] iDmple opened #191 "Postgres passwords are hardcoded for management-portal and app-server"
Postgres password is missing in `base.yaml` in the management_portal section.

Fix:
[code]

Postgres password is missing in `base.yaml` in the appserver section.

Fix:
[code]

[2022-04-29 13:15] mpgxvii commented on #184
Hi, regarding the google-credentials, please see: https://github.com/RADAR-base/RADAR-Kubernetes#optional
The example file is here: https://github.com/RADAR-base/RADAR-Kubernetes/blob/main/etc/radar-appserver/google-credentials.json

This can be downloaded in your Firebase account (a Firebase project must be setup).

[2022-04-29 13:36] mpgxvii commented on #184
Ah yes sorry about that, we're still deciding whether this should be optional or not.

[2022-04-29 18:22] iDmple commented on #184
The push endpoint fails with this error even with garmin set to false:
[code]
I had to deactivate it.

[2022-05-02 13:30] K1Hyve commented on #190
Solved in #188

[2022-05-02 13:30] #190 closed

[2022-05-06 16:15] iDmple opened #192 "jdbc-connector pod crashes when adding topics to production.yaml"
I need to add a bunch of topics so I can see them in grafana. For this, I followed the instructions given on slack and modified the `production.yaml`:

[code]

which creates the following `sink-timescale.properties` file:
[code]

Unfortunately, the pod crashes with the following error:
[code]

Can you please let me know what is the right way to add topics to grafana?

**Version of Helm and Kuberne

[2022-05-09 08:57] K1Hyve commented on #192
I think @blootsvoets or @mpgxvii will be able to help you better than me

[2022-05-09 09:03] yatharthranjan commented on #192
HI @iDmple, is it possible to post the full stack trace of the error (NullPointerException)?

[2022-05-09 10:27] iDmple commented on #192
Here it is:

[code]

[2022-05-11 08:55] iDmple commented on #192
@yatharthranjan, do you have all the info you need from me? Could you reproduce the bug?

[2022-05-11 09:07] yatharthranjan commented on #192
Hi @iDmple , yes we are experiencing the same issue now. @mpgxvii is looking into it.

[2022-05-11 11:56] iDmple commented on #192
Thanks so much @yatharthranjan and @mpgxvii!

[2022-05-17 11:17] iDmple commented on #192
Hi @mpgxvii and @yatharthranjan, do you have any good news regarding this bug? We have a demo with RADAR on May 23rd, and we absolutely need the dashboard, so this is blocking for us.

Thank you so much!

[2022-05-17 12:59] mpgxvii commented on #192
Hi @iDmple, I'm still currently looking into it, we are still experiencing the issue as well.

[2022-05-18 13:46] mpgxvii commented on #192
Hi @iDmple, I think there were some fixes to the connector that aren't in the docker image used here. I am currently making the changes but it might take a while to release. In the meantime, you can use the `latest` docker image by setting in the `production.yaml` file:

[code]

[2022-05-18 17:08] iDmple commented on #192
I confirm it works with this new configuration, thanks a lot @mpgxvii !!!

[2022-05-18 17:08] #192 closed

[2022-05-18 17:10] iDmple opened #194 "etc/radar-appserver/google-credentials.json should be committed as a template"
etc/radar-appserver/google-credentials.json should be committed as a template and the process documented, otherwise users would risk uploading their private key to version control!

[2022-05-19 08:00] #194 closed

[2022-05-19 08:01] blootsvoets commented on #194
Good find, thanks for notifying us. I've added `google-credentials.json` to `.gitignore`. Unless a user force-adds the file, it will not be added to the git repository.

[2022-06-08 10:30] iDmple commented on #194
Because it's in a subfolder the way you added it is not right.

[2022-06-08 10:32] iDmple opened #196 "Mongodb chart doesn't have the right version"
Running into this error while upgrading the master branch:
`Error: failed to download "bitnami/mongodb" at version "10.11.1" `

[2022-06-08 11:18] iDmple commented on #196
With the oldest version available still available of postgresql, the appserver refuses to start:
`org.postgresql.util.PSQLException: The connection attempt failed.`

Essentially, I'm unable to restart my stack. Can you urgently commit a fix?

Thank you!

[2022-06-08 19:46] afolarin commented on #196
The problem is still there? I can see the charts listed
[code]

[2022-06-09 09:54] afolarin commented on #196
confirm, you are right, on `helm repo update` it now is lists as "No results found"

@iDmple do you have any error logs from your stack restart you can post.

@K1Hyve any thoughts?

[2022-06-09 11:54] K1Hyve commented on #196
I have made a PR.

You can also override chart version to latest version in `production.yaml` the same way that I have done it in `base.yaml` in the PR.

[2022-06-09 13:42] iDmple commented on #196
Does not work for me, details in #197.

[2022-07-12 16:28] 2bPro opened #200 "Catalog server not starting - resource mapping for cp-schema-registry not found"
**Describe the bug**
Catalog server service is stuck in state `Init:0/1` after failing to find resource mapping for "cp-schema-registry":

[code]

**To Reproduce**
Steps to reproduce the behavior:

- create an EC2 instance with Ubuntu 22.04, AMD64
- install Docker, k3s, Helm and Java
- edit `environments.yaml` to remove reference to `etc/base.yaml`
- edit `etc/production.yaml` to change server nam

[2022-07-13 07:58] 2bPro commented on #200
Related to #174.

[2022-07-14 09:53] K1Hyve commented on #200
2022-07-13 15:25:33 UTC ERROR - Kafka brokers not yet available. Aborting. [org.radarbase.schema.tools.KafkaTopicsCommand:48]

Looks like there is an issue with Kafka brokers not being functional. Could you restart all of the zookeeper pods and wait for them to fully become ready and do the same for Kafka and then restart the catalog-server?

[2022-07-15 12:10] 2bPro commented on #200
State of a zookeeper pod after restart:

[code]

State of a kafka pod after restart:

[code]

These logs are the same as before restart. Both of their Prometheus exporters also fail on this:

[code]

The state and logs of the kafka-init container for the catalog-server pod are the same as before.

I also re-deployed with the EC2 instance public DNS instead of `k8s.project.org`, just in case, but m

[2022-07-15 12:45] K1Hyve commented on #200
@nivemaham @afolarin maybe you know why catalog server can't create the topics?

[2022-07-15 13:16] nivemaham commented on #200
Kafka-init is unable to locate/connect to Kafka brokers. If the Kafka pods, schema registry are healthy and available, it could be due to some config issues on the charts.

[2022-07-18 15:15] 2bPro commented on #200
Solved by #199. Thanks for your help!

[2022-07-18 15:15] #200 closed

[2022-07-19 08:22] 2bPro opened #201 "Management portal expects secret"
**Describe the bug**
Management portal service crashing because of missing secret.

[code]

The installation documentation gives the impression that secrets and passwords are configured inside `etc/production.yaml` file but there is a mention of a missing `/secrets` directory and "To create an encrypted password string and put it inside kube_prometheus_stack.nginx_auth variable.", which is confusi

[2022-07-19 09:08] blootsvoets commented on #201
I can revisit the README regarding the secrets directory. The `keystore.p12` needs to be generated with `bin/keystore-init` and loaded in your `etc/production.yaml.gotmpl` file. There are two examples for that in the file.

[2022-07-19 13:19] blootsvoets commented on #201
This can happen if you specify
[code]
This makes `management_portal` a `nil` value which will override any values given to it in other values files.

[2022-07-19 13:42] 2bPro commented on #201
Thanks for the quick replies. Is that in the `etc/production.yaml.gotmpl`? Because I just followed the comments and have:

[code]

I double-checked the path is correct and the key is there and they seem to be ok.

[2022-07-19 13:46] 2bPro commented on #201
Oh, I thought I'd try a fresh re-install, and interestingly `helmfile destroy` doesn't work now either. It gives me a similar error but for oauth_clients:

[code]

[2022-07-19 14:13] K1Hyve commented on #201
@2bPro `{{/*` is also considered part of the comment section and you should remove them and your file should look like this:
[code]

[2022-07-20 08:36] 2bPro commented on #201
Sorry to open this again but while the service started, it's not stable. It has restarted close to 200 times since yesterday and is currently stuck in a `CrashLoopBackOff` state. Here's the pod logs:

[code]

I restarted the pod but to no success.

[2022-07-20 12:58] K1Hyve commented on #201
[code]
Looks like the `keystore.p12` file isn't correctly loaded.

[2022-07-22 08:07] 2bPro commented on #201
Thanks for your reply. I tried lots of things, making sure the reference to the key in `etc/production.yaml.gotmpl` is as you suggested, restarting the pod, completely destroying and cleaning everything and re-installing, re-generating the key...no luck. I don't know what's going on but it looks like the above error alternates with the following on each pod crash and restart:

[code]

Any ideas?

[2022-07-28 09:43] ThomasKassiotis commented on #201
Got the same issue. Something wrong with the keystore.p12 file.

![image](https://user-images.githubusercontent.com/78218326/181475043-ca0ed0f7-cecc-48dc-8c65-fa30a15d7eb7.png)

[2022-08-12 08:58] nivemaham commented on #201
@ThomasKassiotis I don't think what you have is same as what @2bPro is facing. They can be both on ManagementPortal or related. Your logs from ManagermentPortal says that it can't find the private key pair for alias `radarbase-managementportal-ec2022-07-27`. So there is something wrong with the Keystore that is generated.
The Keystore should generate keys aliases `radarbase-managementortal-ec` and

[2022-08-16 13:31] 2bPro commented on #201
@nivemaham, I did a fresh install from the `internal-chart-version` branch but I'm seeing the same issue. When I say "fresh install" I mean I destroyed and cleaned everything on k8s, re-cloned the repo, re-set up the configuration and re-generated the keystore file. You can find the longer stack trace attached including what pods are currently up and running and a look at the management portal pod

[2022-08-16 13:58] blootsvoets commented on #201
I have fixed the issue on the app-config-frontend shown in your stack trace in commit 3ae49cba4dd6af9b92cce66178b53c1c2c4f1559.

You are still somehow missing the keystore. When you run
[code]
you should have an entry

[code]

If you run

[code]
then you should get no output. If it says, _binary files differ_, then the keystore file is not properly loaded.

[2022-08-16 14:36] 2bPro commented on #201
Thanks for the quick reply. The diff comes back empty but the output of the last command is different:

[code]

[2022-08-17 08:15] blootsvoets commented on #201
I'm wondering - it could because of some space or overriding issue. I've updated the keystore-init script in ef8c7e95a93e41c695d489fac35be3b62d82c97a. Could you please remove `etc/management-portal/keystore.p12` and try `bin/keystore-init` again?

[2022-08-17 13:33] 2bPro commented on #201
From  [73e7f91](https://github.com/RADAR-base/RADAR-Kubernetes/commit/73e7f9190b3945b6357181c7d1229b445e964b1b) I get this:

[code]

[2022-08-17 13:57] blootsvoets commented on #201
It looks like although your Java version is 8, your `keytool` is still from Java 7. I've changed the script in a166081 to allow for that as well. Could you please try again?

[2022-08-18 09:21] 2bPro commented on #201
I tried this and can't even get as far as the management portal pod being installed now. I now get this:

[code]

I updated the helm charts but still got the error so I thought maybe latest commits caused it. I made a couple of reverts to older commits keeping the same key file generated with the updated script but that doesn't work either. Should I open a new issue for this?

[2022-08-18 09:50] blootsvoets commented on #201
I can fix that error. For now, can you install management-portal with
[code]

[2022-08-18 10:14] blootsvoets commented on #201
I've updated the keystore-init again, since the current version seems to have decreased validity to only 90 days.

[2022-08-18 10:49] 2bPro commented on #201
The management portal is now running. Do you know by any chance how I can test it? I tried curling its external address, did pod port-fowarding, entered the container and did a curl on localhost, but all I get is 404.

[2022-08-18 10:50] blootsvoets commented on #201
You should be able to access it via https://<myhost>/managementportal/

[2022-08-18 11:46] 2bPro commented on #201
Hmm, getting 502 now. I don't have a certificate so I just did http://myhost/managementportal/. I thought it might be that the port is inaccessible from the outside but I also tried http://localhost/managementportal from inside the ec2 and got the same 502 response. I added 8080 to the EC2 inbound rules but as suspected, it didn't make a difference. Any idea why this might happen?

[2022-08-18 11:56] blootsvoets commented on #201
cert-manager should be creating a HTTPS certificate for you if the host is available from the internet. I'm not sure how to proceed either, apparently nginx cannot successfully connect to managementportal. kubectl get pods should show ManagementPortal as 1/1 ready, is that the case?

[2022-08-18 12:09] 2bPro commented on #201
That's correct, the pod is up and running (1/1 ready), hasn't restarted/stuck in a crash loop, and the logs say it's up.

[2022-09-26 13:10] #113 closed

[2022-10-13 15:26] WalkerWalker opened #208 "Missing config "postgres_password" in base.yaml in PR #199"
In PR #199
The following line is missing in [etc/base.yaml](https://github.com/RADAR-base/RADAR-Kubernetes/blob/internal-chart-version/etc/base.yaml#L9)

[code]

which makes [this line in 10-managementportal.yaml](https://github.com/RADAR-base/RADAR-Kubernetes/blob/internal-chart-version/helmfile.d/10-managementportal.yaml#L25) fail.

[2022-10-13 15:28] WalkerWalker commented on #208
I have added the line and now the following runs through.
`helmfile sync -f helmfile.d/10-managementportal.yaml --concurrency 1`

yet I am not sure if adding this line is the only thing to do or not.

[2022-10-14 15:47] WalkerWalker opened #209 "firebase_adminsdk.json content should not be piped to b64enc in PR #199"
I am certain that  [this line](https://github.com/RADAR-base/RADAR-Kubernetes/blob/internal-chart-version/etc/base.yaml.gotmpl#L27) is buggy after uncomment.

As the title mentioned, firebase_adminsdk.json content should not be piped to b64enc since this value will be read by [this line in the chart](https://github.com/RADAR-base/radar-helm-charts/blob/main/charts/radar-appserver/templates/secrets

[2022-10-16 16:07] blootsvoets commented on #209
Thanks for reporting this. I've fixed the example in ce9e104.

[2022-10-16 16:07] #209 closed

[2022-10-16 19:18] WalkerWalker opened #210 "is it possible to have radar/output without using s3?"
I'm a bit confused with the radar_output https://github.com/RADAR-base/RADAR-Kubernetes/blob/internal-chart-version/etc/base.yaml#L380-L391
[code]
a) Does it have to connect to s3, or it is possible to store the output locally?
b) comparing with the docker-compose version I used before, https://radar-base.org/index.php/2019/02/13/how-to-install-radar-base-using-radar-docker/ . or specifically http

[2022-10-18 06:32] WalkerWalker opened #211 "Zookeeper is not a recognized option"
When performing this step

273

I got zookeeper is not a recognized option  after some googling I found out that https://stackoverflow.com/questions/53428903/zookeeper-is-not-a-recognized-option-when-executing-kafka-console-consumer-sh

So should it be the following?

[code]

[2022-10-18 06:35] WalkerWalker commented on #211
and after running  for a while
[code]

I got

[code]

maybe i am using the wrong command?  maybe it's the right command and it reflected i have other problems.  Please advise.

[2022-10-18 13:03] blootsvoets commented on #211
Bootstrap server should refer to the Kafka service, so `localhost:9092` and `cp-kafka-headless:9092`.

[2022-10-18 19:11] WalkerWalker commented on #211
running
[code]

I got
[code]
or with `wc -l`
[code]

I got 324.  Hmm so this seems to be reasonable.

But if I run
[code]

then some error message
[code]
Should I be concerned ? and in kafkamanager i also don't see anything.

[2022-10-19 07:37] blootsvoets commented on #211
I'll change the command in the README then. Indeed, `--zookeeper` and `cp-zookeeper-headless` should no longer be used. If you try, as in the last command, indeed it will not make a successful connection because it is trying to find a Kafka broker, not a zookeeper instance.

[2022-10-19 07:39] WalkerWalker commented on #211
Thanks for the reply.  Can you please share here what is the right command to use?

[2022-10-19 08:10] blootsvoets commented on #211
Indeed. I've fixed the README in 2f5372f. I'm not an active user of kafka-manager, if it doesn't work right now the image or the chart may need to be updated. @yatharthranjan do you have more experience with kafka-manager?

[2022-10-19 08:22] WalkerWalker opened #212 "kafka manager helmfile broken. Inconsistent value in helmfile vs value in chart"
in [helmfile](https://github.com/RADAR-base/RADAR-Kubernetes/blob/main/helmfile.d/00-init.yaml#L145-L149) it is setting value as
[code]
so tls is expected to be an array

in [chart](https://github.com/RADAR-base/radar-helm-charts/blob/main/charts/kafka-manager/templates/ingress.yaml#L28) it is actually expecting value
[code]
so here tls is expected to be a dictionary.

changing the above block to

[2022-10-19 09:02] blootsvoets commented on #211
Thanks for the suggested fix! Please feel free to create a pull request if it works, this helps us getting a bit more momentum.

[2022-10-19 09:07] WalkerWalker opened #213 "wrong default value combination in base.yaml --- cp_kafka.image_tag and cp_kafka.customEnv.KAFKA_INTER_BROKER_PROTOCOL_VERSION"
I get quite confused by the default value combination in [base.yaml](https://github.com/RADAR-base/RADAR-Kubernetes/blob/internal-chart-version/etc/base.yaml#L118-L122)

[code]
So the questions are

a) If I start with imageTag 7.2.0, rather than upgrade to 7.2.0, should I change the `KAFKA_INTER_BROKER_PROTOCOL_VERSION` to "3.2"?
b) should I change both `KAFKA_INTER_BROKER_PROTOCOL_VERSION` and `K

[2022-10-19 09:13] blootsvoets commented on #213
Yes, that's a valid point. The current value is there for people who are trying to upgrade from the previous version. Keyvan had the same thought. Please feel free to create a PR where you set this to `3.2`.

[2022-10-19 09:17] WalkerWalker commented on #213
shoudl both be set to 3.2?

[2022-10-19 09:19] blootsvoets commented on #213
Yes, that's fine. For the full table, see the upgrade instructions you linked to. From the latest documentation, it looks like the log message format version is ignored though, but in earlier Kafka versions it was used.

[2022-10-19 11:27] WalkerWalker commented on #191
I agree.  It was default to 'password' in the charm if override occurs.
https://github.com/RADAR-base/radar-helm-charts/blob/main/charts/management-portal/values.yaml#L114-L115

And I did see any override to `management_portal.postgres.password`

[2022-10-20 09:59] blootsvoets commented on #213
Fixed in 3345617

[2022-10-20 09:59] #213 closed

[2022-10-20 10:02] blootsvoets commented on #212
Fixed in 3345617. Use kafka-manager by going to https://HOST/kafkamanager/ and entering the basic auth credentials. Then add a cluster with zookeeper value `cp-zookeeper-headless:2181`.

In any case, this helm chart and docker image is extremely outdated (3 years) and has since been replaced with [CMAK](https://github.com/yahoo/CMAK). Unless this is being used a lot, I'm tempted to remove kafka-ma

[2022-10-20 10:02] #212 closed

[2022-10-20 10:04] blootsvoets commented on #208
It had been removed on purpose. The correct defaults have been added in fbe9def783ba74ac975af90e1e031f4312b81db6

[2022-10-20 10:04] #208 closed

[2022-10-20 10:05] blootsvoets commented on #210
Using Minio, AWS S3 or Azure Blob Storage is needed in the current setup. Local storage will not work. The big difference is the distributed nature of Kubernetes versus the previous local setup of docker-compose.

Minio storage can be accessed at https://s3.HOST.

[2022-10-20 10:05] #210 closed

[2022-10-20 13:22] WalkerWalker commented on #213
thanks!

[2022-10-20 13:23] WalkerWalker commented on #212
thanks for the fix and for the suggestion. I will not use it then for now.

[2022-10-20 15:22] K1Hyve commented on #210
@WalkerWalker  From s3 we usually mean an object storage that is compatible with s3 api, maybe we should clear that up the in documentation

[2022-10-20 16:02] WalkerWalker opened #214 "prometheus need basic-auth to access and it's not configurable in base.yml"
after deploying `kube_prometheus_stack`,  visiting prometheus.HOST will leads to a basic-auth like prompt
![image](https://user-images.githubusercontent.com/8481463/196999617-1e87faeb-247f-4284-8f41-e414ff4957cf.png)

After quite amount of digging, I think it's using this line https://github.com/RADAR-base/radar-helm-charts/blob/main/charts/kube-prometheus-stack/values.yaml#L3-L4

[code]

Apparent

[2022-10-20 16:19] WalkerWalker opened #215 "Deploying certmanager and ngnix_ingress is not possible with kube_prometheus_stack toggled off"
because of this issue https://github.com/RADAR-base/RADAR-Kubernetes/issues/214 I decided to not deploy prometheus.  But if I toggle off  `kube_prometheus_stack` with
[code]

deployment of nginx_ingress would not be successful. even if the metrics part if all off
[code]

with the error message

[2022-10-20 17:55] blootsvoets commented on #214
You should replace the password portion using htpasswd or openssl passwd. @K1Hyve could you please add a comment to that effect in base.yaml and/or readme if not already present?

[2022-10-20 18:00] blootsvoets commented on #215
If you don’t install Prometheus, you can still install the CRDs with

[code]

In a next version, perhaps we can decouple loading the CRDs from the charts to avoid these types of conflicts.

[2022-10-20 18:01] #211 closed

[2022-10-20 18:09] K1Hyve commented on #214
It's the second point in installation script
https://github.com/RADAR-base/RADAR-Kubernetes/tree/internal-chart-version#project-structure

[2022-10-20 18:14] WalkerWalker commented on #215
Thanks for the suggestion.
decouple kube_prometheus_stack from nginx_ingress would be great!

[2022-10-20 18:28] K1Hyve commented on #215
There is an issue for that already that #12 but it hasn't been a priority so far

[2022-10-20 18:29] WalkerWalker commented on #214
ah Sorry I missed it.  Or probably last week when I read it, I didn't understand anything yet.  Thanks for pointing out.

There is actually nothing to replace from base.yaml.   Now I know I can add a `nginx_auth` field under the first `kube_prometheus_stack`, rather than under `kube_prometheus_stack.kube-prometheus-stack`.  And the `nginx_auth` value should be the value output by htpasswd.   It wo

[2022-10-20 19:04] blootsvoets commented on #215
Thanks @K1Hyve. Duplicate of #12.

[2022-10-20 19:04] #215 closed

[2022-10-24 15:53] WalkerWalker opened #217 "minio policy doesn't specify effect:allow and the default is deny"
https://github.com/RADAR-base/RADAR-Kubernetes/blob/internal-chart-version/etc/minio/values.yaml#L52-L63

As the title says, the policy doesn't specify effect as allow and default value is deny
[code]

so the raw policy would be the following
[code]

or in image
![image](https://user-images.githubusercontent.com/8481463/197570486-5f0d0527-3077-4bb0-901d-9f4515dae029.png)

[2022-10-31 08:31] blootsvoets commented on #217
Good find. Fixed in [c029a96](https://github.com/RADAR-base/RADAR-Kubernetes/commit/c029a96739b77cebd8f65617d70fe39e77d16845).

[2022-10-31 08:31] #217 closed

[2022-11-03 10:25] #184 closed

[2022-11-09 20:08] K1Hyve commented on #125
Hey @yatharthranjan @mpgxvii could you please indicate if you still use Kafka manager in your environments? Otherwise I'd like to remove it since we don't use it here and can't support it.

[2022-11-09 21:50] K1Hyve opened #222 "Use Release Drafter Github action"
Using a tool like this should help us to make more informative releases.
https://github.com/marketplace/actions/release-drafter

[2022-11-10 08:34] blootsvoets commented on #222
Note that Github already offers something similar with the _Generate release notes_ button. If you want, I can do that for 1.0.0?